body{
    background-color: #EFE9E7;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 200%;
}
h1{
    font-size: 3em;
    color: #4F759B;
}
h2{
    font-size: 1.7em;
    color: #5D5179;
}

a{
    color: #5D5179;
    text-decoration: none;
}
a:hover{
    color: #4F759B;
    transition: 0.5s;
    font-size: 3.7em;
}
button{
    background-color: #5D5179;
    color: white;
    border: none;
    padding: 20px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
    background-color: #4F759B;
    transition: 0.5s;
}
.fa-brands{
    font-size: 3.5em;
}
img{
    width: 180px;
    height: 200px;
    border-radius: 100%;
}

/* Containers */
.container{
    width: 70%;
    margin: auto;
    text-align: center;
}
.card{
    background-color: white;
    padding: 30px;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.list-inline{
  display: inline-block;
  padding: 0px 40px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  body{
    font-size: 12px;
  }
  h1{
    font-size: 2em;
    color: #4F759B;
  }
  h2{
    font-size: 1.3em;
    color: #5D5179;
  }
  img{
    width: 90px;
    height: 100px;
    border-radius: 100%;
  }
  button{
    padding: 10px 10px;
  }
  .fa-brands{
    font-size: 2.5em;
  }
  a:hover{
    font-size: 2.7em;
}
}
